# system
.vscode
.idea
*__debug*

# ui
ui/build
ui/.dotrun.json
ui/.env.local
ui/node_modules
ui/playwright-report
ui/keys
ui/tests/.auth
tests/
haproxy-local.cfg
test-results

# backend
test/e2e/data
tmp

# rockcraft
*.rock