# system
.vscode
.idea
*__debug*

# ui
ui/build
ui/.dotrun.json
ui/.env.local
ui/node_modules
ui/playwright-report
ui/keys
ui/tests/.auth
tests/
haproxy-local.cfg
test-results

# backend
test/e2e/data
tmp

# rockcraft
*.rock
# charmcraft
*.charm

# build artefacts
vendor
cmd/app
cmd/app-coverage
internal/app/management-api/api/v1/static/ui
.coverage
test/keys
test/coverage
ui/coverage
ui/blob-report
