.p-breadcrumbs--large {
  margin-bottom: 0;
  width: inherit;

  .p-breadcrumbs__items {
    margin-bottom: 0;

    .continuous-breadcrumb {
      display: inline;
    }
  }

  .p-breadcrumbs__item {
    font-size: #{map.get($font-sizes, h4-mobile)}rem;
    font-weight: 275;
    line-height: 1.45rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }

  .continuous-breadcrumb::after {
    content: "/";
    padding: 0 5px; // Adjust spacing as needed
  }

  .continuous-breadcrumb:last-child::after {
    content: ""; // Remove the slash from the last item
  }

  .p-breadcrumbs__item::before {
    content: none;
  }

  .p-breadcrumbs__item:first-of-type {
    margin-right: $sph--x-small;
  }

  .name {
    margin-right: $sph--large;
    max-width: 33vw;
    overflow: clip !important;

    > span > span {
      display: inherit !important;
    }
  }
}
