.clusterlist-table-container {
  padding: 0;
}

.clusterlist-table {
  margin: 0;

  th,
  td {
    display: table-cell;
    vertical-align: top;
  }

  thead,
  tbody {
    display: block;
    overflow: hidden auto;
    scrollbar-gutter: stable;
  }

  thead tr,
  tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .members,
  .instances,
  .warnings {
    text-align: right;
    width: 7rem;
  }

  .actions {
    text-align: right;
    width: 4rem;
  }

  @media screen and (max-width: $breakpoint-large) {
    .members,
    .instances,
    .warnings {
      text-align: inherit;
    }
  }

  @media screen and (1500px >= width >= #{$breakpoint-large}) {
    .description {
      display: none;
    }
  }

  .tooltip-toggle {
    cursor: pointer;
    padding-left: $sph--small;
    width: fit-content;
  }
}
