.cluster-detail-graphs {
  align-items: center;
  display: flex;
  margin-left: $sph--small;

  .cluster-detail-metrics {
    display: flex;
    flex-direction: column;

    .meter-row {
      align-items: flex-start;
      display: flex;
      gap: 1rem;

      .meter-row__title {
        min-width: 8rem;
        text-align: right;
      }

      .meter-row__metrics {
        width: 100%;
      }
    }
  }

  .cluster-detail-doughnut-graph {
    align-items: center;
    display: flex;
  }

  .cluster-detail-countdown {
    justify-content: center;
    text-align: center;
    width: 100px;
  }
}

@include mobile-and-tablet {
  .cluster-detail-graphs {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .p-inline-list__item {
      margin-right: 1rem !important;
    }

    .doughnut-chart__legend {
      margin-bottom: 0;
      width: 200px;
    }
  }
}
