.create-cluster {
  padding-bottom: 0;

  .form {
    display: flex;

    .form-contents {
      overflow: auto hidden;
      padding-left: 2.5rem;

      .content-details {
        max-width: 54rem;
      }
    }

    @include large {
      .instance-migrate {
        margin-top: 2.5rem;
      }
    }

    @include mobile-and-tablet {
      .form {
        margin-top: 13px;
      }
    }
  }
}

.details-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
