@import "./colors";

.p-meter {
  background-color: #d3e4ed;
  border-radius: 0.75rem;
  display: inline-flex;
  height: 0.75rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .cpu {
    background-color: $cpu-color;
  }

  .memory {
    background-color: $memory-color;
  }

  .disk {
    background-color: $disk-color;
  }
}

// Multimeter SCSS
.meter-bar {
  height: 100%;
}

.tooltip {
  height: 100%;
  width: 100%;
}
