@import "vanilla-framework/scss/settings_colors";

.percentile-chart {
  width: 100%;

  .percentile-chart__chart {
    border: 1px solid $color-mid-x-light;
    width: 100%;
  }

  .percentile-chart__grid-line {
    stroke: $color-mid-x-light;
  }
}
