@use "sass:map";
@import "settings";
@import "vanilla-framework/scss/build";
@import "./breakpoints";
@import "pattern_icon";
@include vf-p-icons;
@include vf-p-icon-units;
@include vf-p-icon-switcher-environments;
@include vf-p-icon-status-waiting-small;
@include vf-p-icon-status-succeeded-small;
@include vf-p-icon-status-failed-small;
@include vf-p-icon-status-queued-small;
@include vf-p-icon-status-in-progress-small;
@include vf-p-icon-settings;
@include vf-p-icon-profile;
@include vf-p-icon-export;
@include vf-p-icon-edit;
@include custom-p-icon;
@import "breadcrumbs";
@import "cluster_graphs";
@import "cluster_list";
@import "clustercpu";
@import "doughnut_chart";
@import "forms";
@import "meter";
@import "pattern_navigation";
@import "percentile_chart";
@import "scrollable_container";
@import "settings_page";
@import "status_bar";

body {
  // needed for notification list expanding animation
  overflow: hidden;
}

.p-heading--4 {
  padding: 0;
}

// smaller padding on top of all pages to have the logo flush on top
.p-panel__title,
.p-panel__controls {
  padding-top: $spv--x-small;
}

.p-panel__title {
  padding-bottom: $spv--medium;
}

@media (width >= 460px) {
  .l-application .l-aside.is-narrow {
    width: 25.65rem;
  }
}

.l-main .row {
  max-width: none;
}

.p-notification__message {
  word-break: break-word;
}
