global
  daemon
  ssl-dh-param-file keys/dhparams.pem

defaults
  mode  http
  timeout connect 500000
  timeout client  500000
  timeout server  500000

frontend cluster_manager_proxy
  bind BIND_ADDRESS ssl verify optional crt keys/lxd-sm.pem ca-file keys/lxd-sm.crt
  acl is_backend path_beg /1.0 path_beg /oidc
  use_backend go_backend if is_backend
  default_backend ui_serve

backend ui_serve
  server ui_server 127.0.0.1:3000

backend go_backend
  server go_server CLUSTER_MANAGER_BACKEND_IP:9001 ssl verify none crt keys/lxd-sm.pem
