global
  daemon

defaults
  mode  http
  timeout connect 500000
  timeout client  500000
  timeout server  500000

frontend cluster_manager_proxy
  bind BIND_ADDRESS ssl verify optional crt keys/lxd-cm.pem ca-file keys/lxd-cm.crt
  default_backend ui_serve

backend ui_serve
  server ui_server 127.0.0.1:3000

backend go_backend
  mode tcp
  server go_server ma.lxd-cm.local:9002
